body {
    color: rgb(74, 44, 119);
    background-image: url('/images/boiling.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(169, 202, 169)
}
form {
    display: flex;
    flex-direction: column; 
    width: 100%;
    min-height: 100%;
}
.card {
    box-shadow: 0 20px 40px rgba(41, 30, 58, 0.6);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.btn.sale {
    border-radius: 2;
    width: fit-content;
    background-color: #56a70a;
    box-shadow: 0px 10px 10px #E0E0E0;
    z-index: 1;
    color: white;
    width: 110px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    white-space: nowrap;
}
.img-thumbnail {
    border: none;
}
.card-title {
    font-size: 14px;
    font-weight: 800
}
.card-text {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500
}
.row {
    display: flex;
}

.registerbtn {
    background-color: #65078dd5;
    border-radius: 4px;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.input-block-level {
    width: 100%;
}
.navbar {
    background-color: rgb(100, 77, 141, 0.6);
}
.navbottom {
    background-color: rgba(41, 30, 58, 0.9);
}
.social ul li {
    display: inline;
}
.btn-login {
    background-color:  rgb(101, 77, 141) ;
}
.btn-register {
  background-color: #ADBB3C;
}
/*
.facebook {
    background-image: url(/images/facebook.svg);
}
.instagram {
    background-image: url(/images/instagram.svg);
}
.twitter {
    background-image: url(/images/twitter.svg);
}
*/